.bg-gradient {
  background: linear-gradient(to right, #c4f70f, #5df803, #fcb900) !important;
}

.gradient-text {
  background: linear-gradient(to right, #c4f70f, #5df803, #fcb900);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent !important;
}
